div {
    width: 100px;
    height: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
    
}
#b1 {
    background-color: rgba(0, 0, 255, 0.5);;
}
#b2 {
    background-color: rgba(0, 0, 255, 7.5);

}
#b3 {
    background-color: rgba(0, 0, 255, 1);
}
