div {
    height: 50px;
    width: 50px;
    background-color: pink;
}
@media (width : 600px) {
    div {
        background-color: red;
    }
}

@media (max-width : 600px) {
    div {
        background-color: blue;
    }
}

@media (min-width : 200px) and  (max-width : 300px) {
    div {
        background-color: green;
    }
}