div {
    height: 100px;
    width: 100px;
    background-color: chocolate;
}
@media (max-width: 300px) {
    div {
        border-color: green;
    }
}
/* }
@media (min-width: 300px) and (max-width: 400px) {
    div {
        border-color: pink;
    }
}
@media (min-width: 400px) and (max-width: 600px) {
    div {
        border-color: red;
    }
}
@media (min-width: 600px) {
    div {
        border-color: blue;
    }
} */