.loader {
    height: 200px;
    width: 200px;
    border: 10px solid #34d234;
    border-top: 10px solid #4ECDC4;
    border-radius: 50%;
    animation: spinAnimate 3s ease-in 0s infinite normal;

}
@keyframes spinAnimate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}