div {
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}
#box1 {
    background-image: url(cat.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}